---

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from "../components/About.astro"
// import Education from '../components/Education.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Hero/>
		<About/>
		<!-- <Education/> -->
	</main>
</Layout>

<style>

</style>
