---
import backgroundImg from "../assets/images/background.webp"
---

<section id="contact"
  class="w-5/6 rounded-xl mx-auto bg-fit"
  style=`background-image: url(${backgroundImg.src});`
>
  <div class="sm:p-24 p-8 mx-auto mb-24">
    <div class="pb-8 text-center">
      <h1 class="text-primary sm:text-5xl text-3xl font-bold">
        Love to hear from you,
      </h1>
      <h1 class="text-primary sm:text-5xl text-3xl font-bold">
        Get in touch 👋
      </h1>
    </div>
    <form class="xl:px-24 sm:px-0" action="" onsubmit="return false">

      <div
        class="grid sm:grid-cols-2 grid-cols-1 gap-x-8 gap-y-4 w-full justify-center"
      >
        <div>
          <label class="text-primary font-semibold">Your Name</label>
          <input
            class="w-full rounded-md h-10 px-2"
            type="text"
            name=""
            id=""
          />
        </div>
        <div>
          <label class="text-primary font-semibold">Email Adress</label>
          <input
            class="w-full rounded-md h-10 px-2"
            type="email"
            name=""
            id=""
          />
        </div>
      </div>
      <div class="py-4">
        <label class="text-primary font-semibold">Message</label>
        <textarea class="w-full rounded-md h-28 p-2" name="" id=""></textarea>
      </div>
      <div class="text-center">
        <input 
          class="px-4 py-2 rounded-md bg-white font-bold"
          type="submit"
          value="Send :)"
        />
      </div>
    </form>
  </div>
</section>
