@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(20, 20, 20);
  background: linear-gradient(90deg, #1b1b1b 21px, transparent 1%) center, linear-gradient(#1b1b1b 21px, transparent 1%) center, #585858;
  background-size: 22px 22px;
  cursor: none
  
  
}

.open{
  @apply inline-flex p-4 text-yellow-600 border-b-2 border-yellow-600 rounded-t-lg items-center
}
.notopen{
  @apply inline-flex items-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 
}
.tab {
  @apply  mt-4 mb-4 h-24 w-24 bg-[#282828] rounded-xl flex flex-col mx-auto justify-center shadow duration-300 hover:bg-white hover:shadow-xl lg:ml-3 mr-3
}
.back {
  z-index: 100;
}

body .cursor {
  position: fixed;
  z-index: 100;
  height: 15px;
  width: 15px;
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 24px 0 #0000001a, 0 1px 0 0 #0000;
  pointer-events: none;
  transition: all 200ms ease-out;
  left: -18px;
  top: -18px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #c0c262; 
}