---
import "@fontsource-variable/space-grotesk";
import "@fontsource-variable/manrope";
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";

import { SEO } from "astro-seo";
const canonicalURL = new URL(Astro.url.pathname, Astro.url.origin).toString();
const resolvedImageWithDomain = new URL(
  "/image.jpeg",
  Astro.url.origin
).toString();

interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import preload from "astro-preload";
import Glow from "../components/Glow";
const makeTitle = title ? title : "Rohit Kushwaha";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A portfolio website built with latest technologies by Rohit Kushwaha"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="google-site-verification"
      content="AuMlxg6HJG3Rwtp1H81O3OmPVW4WaI5jrk1X4Onm0hU"
    />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description="A portfolio website built with latest technologies by Rohit Kushwaha"
      canonical={canonicalURL}
      twitter={{
        creator: "@rohitk_06",
        site: "@rohitk_06",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Rohit Kushwaha`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Rohit Kushwaha",
        },
        optional: {
          description: `A portfolio website built with latest technologies by Rohit Kushwaha`,
        },
      }}
    />
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-S9TKKTL84G"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-S9TKKTL84G");
    </script>

    <title>{title}</title>
  </head>
  <body>
    <Glow client:only />
    <slot />

    <style is:global>
      * {
      }
      img {
        content-visibility: auto;
      }
      body {
        cursor: url("/cursor.png"), auto;
        font-family: "Poppins", sans-serif;
        background: #0a0a0a;
        background-size: 22px 22px;
        overflow-x: hidden;
      }
      ::-webkit-scrollbar {
        width: 10px;
      }

      ::-webkit-scrollbar-track {
        background-color: rgba(20, 20, 20);
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #5b5b5b;
      }
    </style>
    <script src="../utils/aos.js"></script>
  </body>
</html>
